html {
    font-size: 16px;
    font-family: sans-serif;
}

.clickbutton {
    font: inherit;
    background-color: black;
    color: #fff;
    border-radius: 0.2em;
    font-family: sans-serif;
    padding: 0.8em 1.2em 0.6em;
}

.output {
    margin-top: 1em;
    padding: 1em;
    font-size: 2em;
    min-height: 200px;
    box-sizing: border-box;
    background-color: #ddd;
}